In [8]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import pyperclip

In [2]:
res = pd.read_csv("steveS1.csv")
r4 = res[res["remiter"] == 4]
r4

,simiter,remiter,R,W,numerical,elementcount,nodecount,meshtime,tthtime,nextime
4,0,4,0.000012,5.000000e-07,1.119240e-07,6735,2218,3.290322,4.469945,0.176883
9,1,4,0.000006,5.000000e-07,8.801860e-08,44243,12812,9.860524,0.536000,0.137538
14,2,4,0.000003,5.000000e-07,1.217710e-10,78233,20018,17.179424,167.229392,0.740875

In [34]:
steveresS1 = {
    "SQUID Number" : ["I.1","I.2","I.3"],
    "R" : [12,6,3],
    "W" : [0.5,0.5,0.5],
    "MSFN (measured)" : [4.5e-9, 3e-9,1.2e-9],
    "MSFN (numerical)" : [1.119240e-07,8.801860e-08,1.217710e-10],
}
steveresS2 = {
    "SQUID Number" : ["II.1","II.3","II.5"],
    "R" : [265,85,40],
    "W" : [240,60,15],
    "MSFN (measured)" : [2e-9, 8e-10,1e-9],
    "MSFN (numerical)" : [9.8736e-11, 4.315480e-11,1.104980e-10],
}

s1 = pd.DataFrame(steveresS1,index=[0,1,2])
s2 = pd.DataFrame(steveresS2,index=[3,4,5])

s_comb = pd.concat((s1,s2))
s_comb["MSFN (measured)"] = s_comb["MSFN (measured)"] * 1e9
s_comb["MSFN (numerical)"] = s_comb["MSFN (numerical)"] * 1e9
pyperclip.copy(s_comb.sort_values(by="MSFN (numerical)",ascending=False).style.to_latex())

In [ ]:
\begin{tabular}{llrrrr}
 & SQUID Number & R & W & MSFN (measured) & MSFN (numerical) \\
0 & I.1 & 12 & 0.500000 & 4500.000000 & 111924.000000 \\
1 & I.2 & 6 & 0.500000 & 3000.000000 & 88018.600000 \\
2 & I.3 & 3 & 0.500000 & 1200.000000 & 121.771000 \\
5 & II.5 & 40 & 15.000000 & 1000.000000 & 110.498000 \\
3 & II.1 & 265 & 240.000000 & 2000.000000 & 98.736000 \\
4 & II.3 & 85 & 60.000000 & 800.000000 & 43.154800 \\
\end{tabular}